{
    "plugins": [
      ["babel-plugin-module-resolver",
        {
          "alias": {
            "@ledgerhq/domain-service": "@ledgerhq/domain-service/lib-es",
            "@ledgerhq/evm-tools": "@ledgerhq/evm-tools/lib-es",
            "@ledgerhq/cryptoassets": "@ledgerhq/cryptoassets/lib-es",
            "@ledgerhq/live-network": "@ledgerhq/live-network/lib-es"
            }
        }
      ]
    ]
  }